.App {
  text-align: center;
  background: #121212;
  color: #63A5DA;
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #121212;
  color: #63A5DA;
}

.navlink{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #63A5DA
}

.loginbox{
  height: 580px;
  width: 1000px;
  background: #1D1D1D;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.loginbox-topstyle{
  font-size: 90px;
}

.signupbox{
  height: 580px;
  width: 1000px;
  background: #1D1D1D;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}