.App {
  text-align: center;
  background: #121212;
  color: #63A5DA;
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #121212;
  color: #63A5DA;
}

.navlink{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #63A5DA;
}

.loginbox{
  width: 1000px;
  height: 580px;
  background: #1D1D1D;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 45px;
  border-radius: 10px;
}

.signupbox{
  width: 1000px;
  height: 660px;
  background: #1D1D1D;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 45px;
  border-radius: 10px;
}

.emailpassbox{
  width: 750px;
  height: 60px;
  background: #323232;
  justify-content: center;
  color: #707070;
  font-size: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.confirmbutton{
  background-color: #63A5DA;
  color: white;
  width: 380px;
  height: 80px;
  text-align: center;
  display: flex;
  font-size: 30px;
  border-radius: 5px;
  align-items: center;  
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
}

.confirmbutton:hover{
  background-color: #338AC3; 
  color: white;
}

.textbelowlogin{
  color: white;
  font-size: 20px;
  font-weight: lightest;
}

.textbelowlogin-link{
  color: #338AC3;
}

input{
  background-color: #63A5DA;
  color: white;
  width: 380px;
  height: 80px;
  text-align: center;
  display: flex;
  font-size: 30px;
  border-radius: 5px;
  align-items: center;  
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  border: 0px;
}

input:hover{
  background-color: #338AC3; 
  color: white;
}

input[type=text]{
  width: 50%;
  margin: 8px 0;
  color: #707070;
  background: #323232;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 30px;
  border: 0px solid #323232;
  border-radius: 4px;
  outline: none;
  width: 750px;
  height: 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

input[type=password]{
  width: 50%;
  margin: 8px 0;
  color: #707070;
  background: #323232;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 30px;
  border: 0px solid #323232;
  border-radius: 4px;
  outline: none;
  width: 750px;
  height: 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

