.App {
  text-align: center;
  background: #121212;
  color: #63A5DA;
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #121212;
  color: #63A5DA;
}

.navlink{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #63A5DA
}

.loginbox{
  width: 1000px;
  height: 580px;
  background: #1D1D1D;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 45px;
}

.loginbox-topstyle{
  font-size: 90px;
}

.signupbox{
  width: 1000px;
  height: 660px;
  background: #1D1D1D;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 45px;

}

.emailpassbox{
  width: 750px;
  height: 60px;
  background: #323232;
  align-items: left;
  justify-content: space-around;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #707070;
  font-size: 20px;
  text-align: left;
}